# Environment files
.env
.env.local
.env.*.local

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Kubernetes temporary files
/tmp/*values.yaml

# macOS
.DS_Store

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log